<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>
      Adicione um<br />
      pensamento novo:
    </h2>
  </header>
  <form action="">
    <label for="pensamento">Pensamento</label>
    <!-- Podemos fazer o Binding assim: -->
    <!-- ngModel quer dizer que vai ser atualizado o objeto no typescript quando no html o input for alterado -->
    <input
      type="textarea"
      class="input"
      name="pensamento"
      id="pensamento"
      placeholder="Digite um pensamento"
      [(ngModel)]="pensamento.conteudo"
    />

    <label for="autoria">Autoria ou fonte</label>
    <input
      type="textarea"
      class="input"
      name="autoria"
      id="autoria"
      placeholder="Digite um autoria"
      [(ngModel)]="pensamento.autoria"
    />

    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <!-- ao invés de value, vamos usar o ngModel para pegar o modelo que tiver no typescript, podendo ser alterado através do html -->
          <input
            type="radio"
            id="modelo1"
            value="modelo1"
            [(ngModel)]="pensamento.modelo"
            name="modelo-card"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/img/modelo1.png" alt="Aspas azuis" />
          <!-- pegando os dados direto do component.ts -->
          <p class="conteudo">{{ pensamento.conteudo }}</p>
          <p class="autoria">{{ pensamento.autoria }}</p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo2">
          <!-- ao invés de value, vamos usar o ngModel para pegar o modelo que tiver no typescript, podendo ser alterado através do html -->
          <input
            type="radio"
            id="modelo2"
            value="modelo2"
            [(ngModel)]="pensamento.modelo"
            name="modelo-card"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img
            src="../../../../assets/img/modelo2.png"
            alt="Aspas azuis claro"
          />
          <!-- pegando os dados direto do component.ts -->
          <p class="conteudo">{{ pensamento.conteudo }}</p>
          <p class="autoria">{{ pensamento.autoria }}</p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo3">
          <!-- ao invés de value, vamos usar o ngModel para pegar o modelo que tiver no typescript, podendo ser alterado através do html -->
          <input
            type="radio"
            id="modelo3"
            value="modelo3"
            [(ngModel)]="pensamento.modelo"
            name="modelo-card"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/img/modelo3.png" alt="Aspas verde" />
          <!-- pegando os dados direto do component.ts -->
          <p class="conteudo">{{ pensamento.conteudo }}</p>
          <p class="autoria">{{ pensamento.autoria }}</p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <!-- O (click) quer dizer que o Angular vai "escutar" quando o botão vai ser clicado, para poder chamar a função criarPensamento quando o botão for clicado -->
      <button (click)="criarPensamento()" class="botao">Salvar</button>
      <button (click)="cancelar()" class="botao">Cancelar</button>
    </div>
  </form>
</section>
