<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Meu Mural</h2>
    <button class="botao" routerLink="/criar-pensamento">
      Adicionar pensamento
    </button>
  </header>
  <!-- a div só vai aparecer se tiver itens na lista -->
  <div class="mural" *ngIf="listaPensamentos.length > 0; else semPensamentos">
    <!-- Vamos usar *ngFor para poder iterar sobre a lista de objetos pensamento -->
    <div *ngFor="let pensamento of listaPensamentos">
      <!-- aqui estamos dizendo que o componente filho (marcado com @input) vai receber o elemento do for -->
      <app-pensamento [pensamento]="pensamento" />
    </div>
  </div>
</section>
<!-- Esse template vai ser usado no else do ngIf -->
<ng-template #semPensamentos>
  <div class="ff-inter sem-pensamentos">
    <p>Ainda não há pensamentos cadastrados</p>
  </div>
</ng-template>
